
@media only screen and (max-width: 1200px) {
    i.fas.fa-paper-plane.fa-2x.text-primary {
        left: 312px;
    }
  }

  @media only screen and (max-width: 991px) {
    .brand-btn {
        text-align: center;
    }
    i.fas.fa-paper-plane.fa-2x.text-primary {
        left: 232px;
    }


@media only screen and (max-width: 768px) {
    .social-footer {
        text-align: center;
    }
    i.fas.fa-paper-plane.fa-2x.text-primary {
        left: 175px;
    }
    
      .navbar-light .navbar-nav .nav-link {
        color: #29A5E8!important;
        padding: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
        display:none;
    }
    span.bars {
        display: block;
        color: white;
    }
    .watch-content h1 {
        font-size: 35px;
    }
    .works-header.looks-header.text-center {
        margin-bottom: 60px;
    }
    .me-5.list-margin {
        margin-right: 17px !important;
    }
}

@media only screen and (max-width: 576px) {
    #button-addon2 {
        position: unset;
        top: 152%;
        right: 33%;
        margin-top: 15px;
        background: #fff;
        color: #29A5E8!important;
    }
    #button-addon2:hover {
        background-color:#29A5E8 ;
        color: #ffff!important;
    }
    i.fas.fa-paper-plane.fa-2x.text-primary {
        display: none;
    }
    .works-header.looks-header.text-center {
        margin-bottom: 40px;
    }
    
}

@media only screen and (max-width: 370px) {
    .information.text-center {
        text-align: left !important;
    }
}



