 /* =====COMMON CSS ====*/
 *{
         box-sizing: border-box;
         font-family: 'Roboto', sans-serif; 
 }

ul{
        margin: 0;
        padding: 0;
}

ul li {
        list-style: none;
        display: inline-block;
}

ul li a{
        text-decoration: none;
}

button{
        color: white!important;
        font-weight: 600;
}
button:hover{
        border: 1px solid #fff;
        border-radius: 20px;
}
h1,h2,h3,h4,h5,h6{
        font-weight: 500;
        font-size: 50px;
}
p{
        font-weight: 400;
        font-size: 16px;
}
 /* =====COMMON CSS ====*/

/* =====HEADER CSS START ====*/
 .header {
  --triangle-height: 200px; /* you can change this */
  --mask: linear-gradient(#000, #000) 0 0/100% calc(100% - var(--triangle-height)) no-repeat, 
          linear-gradient(to top right, transparent 49.5%, #000 50% 100%) 0 100%/50% var(--triangle-height) no-repeat, 
          linear-gradient(to top left, transparent 49.5%, #000 50% 100%) 100% 100%/50% var(--triangle-height) no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  width: 100%;
  padding-bottom: 50px;
  background: #29a5e8 50% 50%/cover;
 
}

.navbar-light .navbar-nav .nav-link {
        color: #fff!important;
    }
    .watch-content h1 {
        color: #fff;
        padding: 20px 0;
    }
    .navbar-toggler:focus {
        box-shadow: unset;
        border: unset;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    
 /* =====HEADER CSS END ====*/   

/* =====APP CSS START ====*/ 
.app-area {
    background: #faf9fd;
}
.bg-1{
    background-image: url(./img/bg-1.png);
}
.bg-2{
    background-image: url(./img/bg-2.png);
}
.bg-3{
    background-image: url(./img/bg-3.png);
}
.bg {
    background-repeat: no-repeat;
    background-position: 76px -26px;
    background-size: 77px;
}
.download_install:hover {
  box-shadow: 0px 0px 5px 10px #f3f5f8;
  background: #ffff;
            
    }
 .download_install h2 {
        font-size: 24px;
    }
  /* =====APP CSS END ====*/   

  /* =====HOW IT WORKS CSS START ====*/ 
  .loves-people {
    background-image: url(./img/mike\ Wave\ Shape.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
    .person-content h3 {
        font-size: 27px;
    }
    .person-content h6 {
        font-size: 16px;
        color: #c0c9d3;
    }
    i.fas.fa-arrow-left.slick-arrow {
        position: absolute;
        bottom: -84px;
        right: 36%;
        color: #2186eb;
        /* font-size: 20px; */
    }
    i.fas.fa-arrow-right.slick-arrow {
        position: absolute;
        bottom: -84px;
        left: 70%;
        color: #2186eb;
    }
    
   /* =====HOW IT WORKS CSS END ====*/ 

/* =====VIDEO CSS CSS START ====*/ 
.col-md-10.video-player {
    position: relative;
}

img.img-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.col-md-10.video-player {
    position: relative;
}

/* =====VIDEO CSS CSS END ====*/ 

/* =====TESTIMONIAL CSS CSS START ====*/ 
section.look-how {
    overflow-x: hidden;
}
.slick-active{
    opacity: 0.2;
}
i.fas.fa-arrow-left.fa-2x.slick-arrow {
    position: absolute;
    bottom: -84px;
    right: 36%;
    color: #2186eb;
    font-size: 20px;
}
.device-slider{
    background: #eceef0;
}
.slick-dots
{ 
    bottom: 0;
    margin-top: 10px;
}
.slider-image {
    height: 654px;
    padding-top: 10px;
}
/* =====TESTIMONIAL CSS CSS END ====*/ 

/* =====FREEQUENTLY ASKED QUESTION START ====*/ 

.accordion-button::after {
    background-image: url(./img/right-angle.png);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./img/right-angle.png);
    transform: rotate(90deg);
}
    .frequently-asked{
        background-image: url(./img/mike\ Wave\ Shape.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    button.accordion-button.text-dark.collapsed {
        color: #627D98!important;
        background-color: #eff1f3!important;
    }
    .accordion-button:not(.collapsed) {
        color: #2186EB!important;
        background-color: #eff1f3!important;
    }
    .accordion-body {
        background: #ffff;
        color: #627D98;
        font-weight: 400;
    }
    .accordion-button {
        border: unset!important;
    }
/* =====FREEQUENTLY ASKED QUESTION EBD ====*/ 

 /* =====SMARTPHONE CSS START ====*/ 
 
    .smartphone{
           background-image: url(./img/app-landing-page-psd\ \(2\).png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 100px 0;   
    }
    
    .form-input {
        position: relative;
    }
    .form-control {
        padding: 10px 30px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 60px;
        
        
    }
    .input-control{
        width: 35%;
        margin: auto;
    }
    #button-addon2 {
        position: absolute;
        top: 9%;
        right: 33%;
    }
    .btn {
        color: #fff;
        border: 1px solid transparent;
        border-radius: 20px;
       
    }
    i.fas.fa-paper-plane.fa-2x.text-primary {
        position: absolute;
        top: 11px;
        left: 370px;
        z-index: 222;
        font-size: 20px;
    }
    
    .future-content h4 {
        font-size: 35px;
    }
    .future-content p {
        font-size: 12px;
    }
    .social-icon ul li a {
        padding: 0 10px;
    }
/* =====SMARTPHONE CSS END ====*/ 

/* =====PRICING PLAN CSS START ====*/ 
span.starter {
    font-size: 16px;
    font-weight: 600;
    background-color: #e6f6ff;
    padding: 10px;
    border-radius: 30px;
}

.color-text{
    color: #7d92a8;
}
.pricing-color{
    color: #627d98;
    font-weight: bold;
}
.signup{
    padding: 10px 30px;
}
hr:not([size]) {
    width: 60%;
    margin: auto;
}
.pricing-area:hover .pricing-content {
    background: #2186eb;
    box-shadow: 0px 6px 5px 8px #bedbf8;
}
.pricing-area:hover .notification p,.pricing-area:hover .pricing-color,.pricing-area:hover .dollor-content p,.pricing-area:hover h4{
    color: #ffff!important;
}
.pricing-area:hover button{
    background-color: #ffff;
    color: orchid;
}
/* =====PRICING PLAN CSS END ====*/ 


/* =====LATEST POSTS CSS START ====*/ 
.google-map{
    background-image: url(./img/map.jpg);
    background-size: cover;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: bottom;
}
.latest-content h6 {
    font-size: 20px;
}
.btn-outline-primary:hover {
    color: white !important;
}
.btn.bg-white.text-primary.google-play {
    border-radius: 10px;
    font-size: 12px;
}
/* =====LATEST POSTS CSS END ====*/ 

/* =====FOOTER CSS START ====*/ 
    .selected-option{
        color: #627d98;
        font-size: 18px;
        font-weight: normal;
    }
/* =====FOOTER CSS END ====*/ 

/* CONTACT US STYLE START */
.input-contact {
    position: relative;
}
.plane-icon {
    position: absolute;
    top: 13px;
    left: 9px;
}
/* CONTACT US STYLE END */


/* Latest post STYLE START */
.latest-post{
    background-image: url(./img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50px -78px;
}
/* Latest post STYLE END */

